@font-face {
  font-family: 'e-Ukraine';
  src: url('fonts/e-Ukraine-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('fonts/e-Ukraine-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('fonts/e-Ukraine-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('fonts/e-Ukraine-Bold.ttf') format('truetype');
  font-weight: 700;
}


html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
}





body {
  margin: 0;
  padding: 0;
  font-family: 'e-Ukraine', Arial, sans-serif;
  background: radial-gradient(circle, #FFFACD 30%, #ADD8E6 60%, #D8BFD8 100%);
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
}

  .container {
  position: relative;
  width: 390px;
  height: 850px;
  background: radial-gradient(circle, #FFFACD 30%, #ADD8E6 60%, #D8BFD8 100%);
  animation: gradientAnimation 10s infinite alternate ease-in-out;
  overflow: hidden;
  }

  @keyframes gradientAnimation {
  0% {
  background: radial-gradient(circle, rgba(255, 250, 205, 0.8) 30%, rgba(173, 216, 230, 0.8) 60%, rgba(216, 191, 216, 0.8) 100%);
  }
  25% {
  background: radial-gradient(circle, rgba(224, 244, 205, 0.8) 30%, rgba(176, 224, 230, 0.8) 60%, rgba(216, 191, 216, 0.8) 100%);
  }
  50% {
  background: radial-gradient(circle, rgba(216, 255, 216, 0.8) 30%, rgba(160, 216, 230, 0.8) 60%, rgba(208, 191, 216, 0.8) 100%);
  }
  75% {
  background: radial-gradient(circle, rgba(255, 250, 205, 0.8) 30%, rgba(176, 224, 230, 0.8) 60%, rgba(216, 191, 216, 0.8) 100%);
  }
  100% {
  background: radial-gradient(circle, rgba(255, 250, 205, 0.8) 30%, rgba(173, 216, 230, 0.8) 60%, rgba(216, 191, 216, 0.8) 100%);
  }
  }

.document {
  position: absolute;
  top: 143px;
  left: 32px;
  right: 32px;
  bottom: 223px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  border-radius: 24px;
  padding: 20px;
  box-sizing: border-box;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.back {
  transform: rotateY(180deg);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 25px;
  font-weight: 500;
  font-family: 'e-Ukraine', sans-serif;
  margin-bottom: 10px;
}

  .photo {
  position: relative;
  width: 135px; 
  height: 180px; 
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden; 
  margin-bottom: 16px;
  background-color: #ccc; 
  }

  .photo img {
  width: 100%; 
  height: 101%; 
  object-fit: cover; 
  border-radius: 15px; 
  }

.info {
  font-size: 13px;
  margin-left: 160px;
  position: absolute;
  top: 80px;
  font-family: 'e-Ukraine', sans-serif;
  font-weight: 400;
}

.moving-bar {
  width: 100%;
  background: linear-gradient(90deg, #a3ed96, #8fcfce);
  position: absolute;
  bottom: 111px;
  left: 0;
  right: 0;
  padding: 5px 0;
  overflow: hidden;
  white-space: nowrap;
}

.moving-text-container {
  display: flex;
  width: max-content;
  animation: moveLeft 20s linear infinite;
}

.moving-text {
  white-space: nowrap;
  font-size: 13px;
  padding-right: 6px;
  font-family: 'e-Ukraine', sans-serif;
  font-weight: 500;
}

@keyframes moveLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}



.dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 195px;
  width: 100%;
}

.dot {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}

.dot.active {
  width: 10px;
  height: 10px;
  background: #fff;
}

.navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 12px;
  font-family: 'e-Ukraine', sans-serif;
  font-weight: 500;
  z-index: 10;
}

.menu, .menu1, .menu2, .menu3 {
  position: absolute;
  width: 32px;
  z-index: 10; /* Всі іконки меню будуть поверх */
}

.menu {
  position: absolute;
  width: 32px;
  right: 26px;
  top: 769px;
  z-index: 10;
}

.menu1 {
  position: absolute;
  width: 32px;
  right: 117px;
  top: 772px;
  z-index: 10;
}

.menu2 {
  position: absolute;
  width: 32px;
  right: 220px;
  top: 773px;
  z-index: 10;
}

.menu3 {
  position: absolute;
  width: 32px;
  right: 324px;
  top: 773px;
  z-index: 10;
}

.flipped .document {
  transform: rotateY(180deg);
}

.flipped .back {
  transform: rotateY(0deg);
}

.timer {
  position: relative;
  top: 15px;
  font-size: 13px;
  color: #999;
  margin-bottom: 20px;
}

.qr-code img {
  width: 240px;
  position: relative;
  bottom: -13px;
}

.buttons {
  top: -14px;
display: flex;
justify-content: space-evenly; 
gap: 70px; 
margin-top: 90px;
position: relative; 
}

.button-container {
display: flex;
flex-direction: column;
align-items: center;
}

.button {
width: 48px; 
height: 48px; 
border-radius: 50%;
background-color: #ccc; 
color: white;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border: none;
transition: background-color 0.3s ease; 
margin: 0;
position: relative; 
}

.button:hover {
background-color: #4a4949; 
}

.button.active,
.button:active {
background-color: #191919; 
}

.button svg {
width: 20px; 
height: 20px; 
}

.button-text {
font-size: 12px;
text-align: center;
margin-top: 5px;
color: black;
}





.signPane{
  margin-top:calc(var(--rp)*1px*0.02);
  display:flex
}

.photo4{
width: 100px;
height: 100px;
}


#imageDisplay1 {
  z-index: 1;  
  left: 0px;
  top: 60px;
  max-width: 800px; 
  width: 100%; 
  position: relative; 
}

#imageDisplay2 {
  z-index: 1;  
  left: 0px;
  bottom: 710px;
  max-width: 800px; 
  width: 100%; 
  position: relative; 
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  padding: 0px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.navbar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}

.navbar div img {
  position: relative;
  top: -21px;
  width: 29px;
  height: 29px;
  margin-bottom: -21px;
}